body {
    text-align: center; 
    margin: 20px;
    padding: 5px;
}

div {
    margin-bottom: 10px;
}

p {
    margin: 10px 50px;
}

#viewHighscores {
    color: blue;
    font-weight:900;
    cursor: pointer;
    text-decoration: underline;
    font-size: large;
}

#time {
    font-weight: bolder;
    font-size: large;
}
